:root {
    /*--mainColor: #808080;*/
    --mainColor: #eaeaea;
    /*--secondaryColor: #00000;*/
    --secondaryColor: #fff;
    --complementaryColor: #1be5dd;

    --borderColor: #c1c1c1;

    --mainText: black;
    --secondaryText: #4b5156;
}

html, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Libre Franklin', sans-serif;
}

p, li, span, label, input, textarea {
    color: var(--secondaryText);
    /*font-family: 'Libre Franklin', sans-serif;*/
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s3 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5em 10em;
    grid-template-areas:
        'profile-image-wrapper name-title-wrapper personal-details-wrapper'
        'bio-wrapper bio-wrapper bio-wrapper'
        ;
}

.body-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10em 10em 10em;
    grid-template-areas:
            'body-section-1 skill-graphic'
            'body-section-2 skill-graphic'
            'body-section-3 skill-graphic'
            ;
}

.footer-wrapper {
    display: grid;
}

.profile-image-wrapper {
    grid-area: profile-image-wrapper;
}

.name-title-wrapper {
    grid-area: name-title-wrapper;
}

.personal-details-wrapper {
    grid-area: personal-details-wrapper;
}

.personal-details-item {
    grid-area: personal-details-item;
}


.bio-wrapper {
    grid-area: bio-wrapper;
}

.body-section {
    grid-area: body-section;
}

.skill-graphic {
    grid-area: skill-graphic;
}
